// Import here Abstract sass
@import './Abstract/mixin';
@import './Abstract/variables';

// Import here Base sass
@import './Base/reset';

// Import here Components sass

// Import here Pages sass

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $font-family;
}

#root {
    height: 100%;
}